<template>
  <div>
    <div class="header">
      <div class="element-header rou-header">
        <img src="../file/image/arm.png" alt="arm" class="arm" />
      </div>

      <div class="element-header">
        <h1>Hamilton Store</h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="search">
            <span class="spn-search"
              ><img src="../file/image/search-btn.png" alt="Search" />
            </span>
            <input
              @click="searchProduct()"
              type="text"
              class="form-control"
              placeholder="Search for the desired product..."
              v-model="searchIn"
            />
          </div>
        </div>
      </div>

      <div class="element-header rou-header">
        <img src="../file/image/arm-2.png" alt="arm-2" class="arm-2" />
      </div>
    </div>

    <div>
      <router-link to="/" tag="a" style="color: red"
        ><button class="btn-home">Home</button></router-link
      >
    </div>
    <!-- ------------------------------------------------------------------------------------- -->

    <div class="container">
      <div class="row">
        <div class="input-add">
          <div class="put">
            <label>Product name:</label>
            <input
              type="text"
              v-model="title"
              class="form-control"
              placeholder="Enter the product name..."
            />
          </div>

          <div class="put">
            <label>price product:</label>
            <input
              type="text"
              v-model="price"
              class="form-control"
              placeholder="Enter the price of the product..."
            />
          </div>

          <div class="put">
            <label>Number of products:</label>
            <input
              type="text"
              v-model="count"
              class="form-control"
              placeholder="Enter the product number..."
            />
          </div>

          <div class="put">
            <label>Product photo:</label>
            <input
              type="text"
              v-model="pic"
              class="form-control"
              placeholder="Enter the product photo as a link..."
            />
          </div>

          <button
            class="btn btn-primary"
            @click="addedProduct(title, price, count, pic), save(products)"
          >
            Add product
          </button>
        </div>
      </div>
    </div>
    <!-- --------------------------------------------------------- -->
    <div id="products">
      <div class="remove-all">
        <img
          title="remove products all"
          src="../file/image/recycle-bin.png"
          alt="recycle-bin"
          @click="removeProductAll()"
        />
      </div>
      <ul class="card-item">
        <!-- ------------------------------------------------------ -->
        <!-- <li
          v-for="(product, index) in getSave"
          :key="product"
          class="card"
        > -->
        <!-- ------------------------------------------------------ -->
        <li
          v-for="(product, index) in filterdProducts"
          :key="index"
          class="card"
        >
          <div class="item-c">
            <div class="img">
              <img :src="product.pic" alt="picAdd" />
            </div>

            <div class="info">
              <router-link
                :to="'/product/' + (index + 1) + '/edite'"
                tag="a"
                style="text-decoration: none; color: black"
              >
                <p>{{ product.title }}</p>
              </router-link>
              <p>
                $<span style="font-weight: bold">{{ product.price }} </span>
              </p>
              <p>
                <span style="font-weight: bold"> {{ product.count }}</span> are
                available
              </p>
            </div>
            <div class="remove">
              <button id="rem" @click="removeProduct(index)">Remove</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- --------------------------------------- -->
    <app-footer></app-footer>
  </div>
</template>

<script>
import Footer from "./footer.vue";
export default {
  data() {
    return {
      searchIn: "",
      title: "",
      price: "",
      count: "",
      pic: "",
      products: [],
    };
  },
  components: {
    appFooter: Footer,
  },
  methods: {
    addedProduct(title, price, count, pic) {
      this.products.push({
        title: title,
        price: price,
        count: count,
        pic: pic,
      });
      this.save();
      this.title = "";
      this.price = "";
      this.count = "";
      this.pic = "";
    },
    save() {
      localStorage.setItem("itemProducts", JSON.stringify(this.products));
    },
    removeProduct(index) {
      this.products.splice(index, 1);
      this.save()
    },
    removeProductAll() {
      this.products.splice(0);
      this.save()
    },
  },
  computed: {
    filterdProducts() {
      return this.products.filter((item) => {
        return item.title.toLowerCase().match(this.searchIn);
      });
    },
    // getSave() {
    //   let get = JSON.parse(localStorage.getItem("itemProducts"));
    //   return get.filter((item) => {
    //     return item.title.toLowerCase().match(this.searchIn);
    //   });
    // },
  },
  created() {},
};
</script>

<style scoped>
.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.arm {
  width: 100px;
  height: 100px;
  margin-top: 15pxّ;
}

.element-header h1 {
  color: white;
  font-size: 25px;
  margin-top: 38px;
}

.search {
  display: flex;
  margin: 20px;
  margin-top: 25px;
}
.spn-search {
  background-color: white;
  border-radius: 7px;
  width: 50px;
  height: 40px;
  text-align: center;
}
.spn-search img {
  margin-top: 2px;
  height: 40px;
}
.search input {
  height: 40px;
  border-radius: 7px;
}

.arm-2 {
  width: 105px;
  height: 80px;
  margin-top: 15px;
}

.btn-home {
  width: 60px;
  height: 38px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin: 8px;
  border: 0px;
  border-radius: 7px;
}
/* add-Product--------------------------------------------------- */
.input-add {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.put {
  width: 272px;
  margin-left: 5px;
  margin-right: 5px;
}
.put input {
  border-radius: 7px;
}
.input-add button {
  margin-top: 20px;
  margin-left: 6px;
  border-radius: 7px;
}
/* items Product */
#products {
  background-color: #f7fbfc;
}
.card-item {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.card {
  background-color: #eceef0;
  width: 450px;
  margin: 20px;
  list-style-type: none;
  border-radius: 7px;
}
.item-c {
  display: flex;
}

.item-c div:nth-child(1) img {
  width: 100px;
  margin: 10px;
  margin-top: 15px;
}

.info {
  margin: 10px;
}
.item-c div:nth-child(3) img {
  width: 35px;
  margin-top: 80px;
  margin-right: 10px;
}

.remove-all img {
  width: 35px;
  margin: 20px;
  cursor: pointer;
}

.remove button {
  background-color: lightgray;
  width: 95px;
  height: 30px;
  border-radius: 7px;
  margin-top: 5px;
  border: 0px;
  margin-left: 70px;
}

#rem {
  margin-right: 7px;
}
</style>