<template>
  <div>
    <div class="header">
      <div class="element-header rou-header">
        <img src="../file/image/arm.png" alt="arm" class="arm" />
      </div>

      <div class="element-header">
        <h1>Hamilton Store</h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="search">
            <span class="spn-search"
              ><img src="../file/image/search-btn.png" alt="Search" />
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Search for the desired product..."
              v-model="searchIn"
            />
          </div>
        </div>
      </div>

      <div class="element-header rou-header">
        <img src="../file/image/arm-2.png" alt="arm-2" class="arm-2" />
      </div>
    </div>
    <!-- ------------------------------------- -->
    <div id="products">
      <button @click="home(false), showHome(true)" class="btn-home">
        Home
      </button>

      <div class="remove-all">
        <img
          title="remove products all"
          src="../file/image/recycle-bin.png"
          alt="recycle-bin"
          @click="removeProductAll()"
        />
      </div>

      <ul class="card-item">
        <li
          v-for="(product, index) in filterdProducts"
          :key="product"
          class="card"
        >
          <div class="item-c">
            <div class="img">
              <img :src="product.pic" alt="picCart" />
            </div>

            <div class="info">
              <p>{{ product.title }}</p>
              <p>
                $<span style="font-weight: bold">{{ product.price }} </span>
              </p>
              <p>
                <span style="font-weight: bold"> {{ product.count }}</span>
                Number of orders
              </p>
            </div>

            <div class="count">
              <button @click="addCount(index)">+</button>
              <span>{{ product.count }}</span>
              <button @click="minCount(index)">-</button>
            </div>

            <div class="remove">
              <button id="rem" @click="removeProduct(index)">Remove</button>
            </div>
          </div>
        </li>
      </ul>

      <div class="total-price">
        <div>
          <button @click="totalProducts()">Total price</button>
          <p v-if="showTotal">${{ total }}</p>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
    <!-- ------------------------------------------- -->
  </div>
</template>

<script>
import Footer from "./footer.vue";
export default {
  props: ["product"],
  data() {
    return {
      searchIn: "",
      total: 0,
      showTotal: false,
      getProduct: JSON.parse(localStorage.getItem("addProductCart")),
    };
  },
  components: {
    appFooter: Footer,
  },
  methods: {
    addCount(index) {
      this.getProduct[index].count++;
      this.save();
    },
    minCount(index) {
      this.getProduct[index].count--;
      if (this.getProduct[index].count <= 0) {
        this.getProduct[index].count = 0;
      }
      this.save();
    },
    removeProduct(index) {
      this.getProduct.splice(index, 1);
      this.save();
    },
    removeProductAll() {
      this.getProduct.splice(0);
      this.save();
    },
    totalProducts() {
      return this.getProduct.filter((item) => {
        this.showTotal = true;
        this.total += item.price * item.count;
      });
    },
    home(item) {
      this.$emit("back", item);
    },
    showHome(item) {
      this.$emit("showHome", item);
    },
    save() {
      localStorage.setItem("addProductCart", JSON.stringify(this.getProduct));
    },
  },
  computed: {
    filterdProducts() {
      return this.getProduct.filter((item) => {
        return item.title.toLowerCase().match(this.searchIn);
      });
    },
  },
};
</script>


<style scoped>
.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.arm {
  width: 100px;
  height: 100px;
  margin-top: 15pxّ;
}

.element-header h1 {
  color: white;
  font-size: 25px;
  margin-top: 38px;
}

.search {
  display: flex;
  margin: 20px;
  margin-top: 25px;
}
.spn-search {
  background-color: white;
  border-radius: 7px;
  width: 50px;
  height: 40px;
  text-align: center;
}
.spn-search img {
  margin-top: 2px;
  height: 40px;
}
.search input {
  height: 40px;
  border-radius: 7px;
}

.arm-2 {
  width: 105px;
  height: 80px;
  margin-top: 15px;
}

/* --------------------------------------------------- */

#products {
  background-color: #f7fbfc;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 100px;
  width: 1583px;
}
.btn-home {
  width: 60px;
  height: 38px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin: 8px;
  border: 0px;
  border-radius: 7px;
}
.remove-all img {
  width: 35px;
  margin: 20px;
  cursor: pointer;
}
.card-item {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-left: -25px;
  margin-top: 5px;
}
.card {
  background-color: #eceef0;
  width: 635px;
  height: 150px;
  margin: 20px;
  list-style-type: none;
  border-radius: 7px;
}
.item-c {
  display: flex;
}

.item-c div:nth-child(1) img {
  width: 100px;
  margin: 10px;
  margin-top: 15px;
}

.info {
  margin: 10px;
}
.item-c div:nth-child(3) img {
  width: 35px;
  margin-top: 80px;
  margin-right: 10px;
}

.count {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.count span {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.count button {
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #d3ddd3;
  border-radius: 7px;
}
.remove button {
  background-color: lightgray;
  width: 95px;
  height: 30px;
  border-radius: 7px;
  margin-top: 5px;
  border: 0px;
  margin-left: 70px;
}

#rem {
  margin-right: 7px;
}

.total-price {
  width: 280px;
  height: 60px;
  background-color: lightgray;
  margin: 20px;
  border-radius: 7px;
  margin-left: 35px;
}

.total-price div {
  text-align: center;
  margin-top: 10px;
}
.total-price button {
  border: 0px;
  width: 90px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 7px;
}
</style>
