<template>
  <div>
    <div class="footer">
      <div class="info-bar">
        <div class="list">
          <ul>
            <li><span style="font-weight: bold"> Address:</span> Chicago</li>
            <li>
              <span style="font-weight: bold"> Phone: </span>
              12565-558898-265989
            </li>
            <li>
              <span style="font-weight: bold"> Email: </span>
              hamiltonStore953@gmail.com
            </li>
          </ul>
        </div>

        <div class="list">
          <h4>About the store</h4>
          <ul>
            <li>about us</li>
            <li>History</li>
            <li>Contact us</li>
            <li>Services</li>
          </ul>
        </div>

        <div class="list">
          <h4>Products</h4>
          <ul>
            <li>TV</li>
            <li>Camera</li>
            <li>Player</li>
            <li>Printable price list</li>
          </ul>
        </div>

        <div class="list">
          <h4>quick access</h4>
          <ul>
            <li>Photo Gallery</li>
            <li>question and answer</li>
            <li>common questions</li>
            <li>Survey</li>
          </ul>
        </div>
      </div>

      <hr />
      <div class="img-bar">
        <div class="icon">
          <img src="../file/image/google.png" alt="Google" />
        </div>

        <div class="icon">
          <img src="../file/image/insta.png" alt="Insta" />
        </div>

        <div class="icon">
          <img src="../file/image/twiter.png" alt="Twiter" />
        </div>

        <div class="icon">
          <img src="../file/image/facebook.png" alt="Facebook" />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}

.info-bar {
  display: flex;
  flex-wrap: wrap;
}
.list {
  margin-left: 70px;
}
.footer div:nth-child(1) {
  margin-top: 40px;
}

.img-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.icon {
  background-color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.img-bar div:nth-child(1) {
  background-color: black;
}
.icon img {
  width: 50px;
}
.img-bar div:nth-child(1) {
  width: 50px;
  height: 50px;
  margin-top: 0px;
}
.img-bar div:nth-child(2) img {
  width: 49px;
  border-radius: 22px;
}
</style>