<template>
  <div>
    <div v-if="home">
      <!-- Header ------------------------------------------------------ -->
      <div class="header">
        <div class="element-header rou-header">
          <img src="../file/image/arm.png" alt="arm" class="arm" />
        </div>

        <div class="element-header">
          <h1>Hamilton Store</h1>
        </div>

        <div class="container">
          <div class="row">
            <div class="search">
              <span class="spn-search"
                ><img src="../file/image/search-btn.png" alt="Search" />
              </span>
              <input
                type="text"
                class="form-control"
                placeholder="Search for the desired product..."
                v-model="searchIn"
              />
            </div>
          </div>
        </div>

        <div class="element-header rou-header">
          <img src="../file/image/arm-2.png" alt="arm-2" class="arm-2" />
        </div>
      </div>

      <!-- Main --------------------------------------------------------------------------------------------- -->
      <div class="main">
        <!-- Top-bar------------------------------------------------------- -->
        <div class="top-bar">
          <div
            class="cart rou-cart"
            @click="showCartFn(true), offHome(false)"
            style="text-decoration: none; cursor: pointer"
          >
            <span
              ><img src="../file/image/Untitled.png" alt="Untitled" />
            </span>
            <span class="spn-cart">My Cart</span>

            <img src="../file/image/buy1.png" alt="cart" />
          </div>

          <div dir="rtl" class="login">
            <div class="qq">
              <span class="img-sign">
                <span>Sign in</span>
                <span>
                  <span class="arm-acc"
                    ><img src="../file/image/Untitled.png" alt="Untitled" />
                  </span>
                  <span>My Account</span>
                </span>
              </span>

              <span class="img-acc">
                <img src="../file/image/acc.png" alt="" />
              </span>
            </div>
          </div>

          <div class="menu-item">
            <div class="item">
              <a href="#">
                <h2>Photography</h2>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h2>Computers</h2>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h2>Pro Video</h2>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h2>Pro Audio</h2>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h2>Mobile</h2>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h2>Camcorders</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <router-link
        to="/product"
        tag="a"
        style="
          text-decoration: none;
          font-variant: all-petite-caps;
          font-size: 15px;
        "
      >
        <div class="sales">Add products for sales</div>
      </router-link>

      <!--Products ---------------------------------------------------------------------------------------- -->
      <div id="products">
        <ul class="card-item">
          <li
            v-for="(product, index) in filterdProducts"
            :key="index"
            class="card"
          >
            <div class="item-c">
              <div class="img">
                <img :src="product.pic" :alt="product.title" />
              </div>

              <div class="info">
                <p>{{ product.title }}</p>
                <p>
                  $<span style="font-weight: bold">{{ product.price }} </span>
                </p>
                <p>
                  <span style="font-weight: bold"> {{ product.count }}</span>
                  are available
                </p>
              </div>

              <div
                class="cart-arm"
                @click="addCart(product.title, product.price, product.pic)"
              >
                <img
                  :src="product.cart"
                  alt="cart"
                  style="cursor: pointer"
                  class="imgC"
                />
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Footer ------------------------------------------------------------------ -->
      <div class="footer">
        <div class="info-bar">
          <div class="list">
            <ul>
              <li><span style="font-weight: bold"> Address:</span> Chicago</li>
              <li>
                <span style="font-weight: bold"> Phone: </span>
                12565-558898-265989
              </li>
              <li>
                <span style="font-weight: bold"> Email: </span>
                hamiltonStore953@gmail.com
              </li>
            </ul>
          </div>

          <div class="list">
            <h4>About the store</h4>
            <ul>
              <li>about us</li>
              <li>History</li>
              <li>Contact us</li>
              <li>Services</li>
            </ul>
          </div>

          <div class="list">
            <h4>Products</h4>
            <ul>
              <li>TV</li>
              <li>Camera</li>
              <li>Player</li>
              <li>Printable price list</li>
            </ul>
          </div>

          <div class="list">
            <h4>quick access</h4>
            <ul>
              <li>Photo Gallery</li>
              <li>question and answer</li>
              <li>common questions</li>
              <li>Survey</li>
            </ul>
          </div>
        </div>

        <hr />
        <div class="img-bar">
          <div class="icon">
            <img src="../file/image/google.png" alt="Google" />
          </div>

          <div class="icon">
            <img src="../file/image/insta.png" alt="Insta" />
          </div>

          <div class="icon">
            <img src="../file/image/twiter.png" alt="Twiter" />
          </div>

          <div class="icon">
            <img src="../file/image/facebook.png" alt="Facebook" />
          </div>
        </div>
      </div>
      <!-- ---------------------------------------------------------- -->
    </div>

    <router-view></router-view>

    <app-cart
      v-if="showCart"
      :product="cartItem"
      @back="showCart = $event"
      @showHome="home = $event"
    ></app-cart>
  </div>
</template>

<script>
import Cart from "./cart";
import Footer from "./footer.vue";

import { inputSearch } from "../components/products/mixinPro.js";
export default {
  data() {
    return {
      showCart: false,
      home: true,
      cartItem: [],
      search: "",
    };
  },
  components: {
    appFooter: Footer,
  },
  mixins: [inputSearch],
  components: {
    appCart: Cart,
  },
  methods: {
    addCart(title, price, pic) {
      this.cartItem.push({
        title: title,
        price: price,
        count: 1,
        pic: pic,
      });
      this.save();
    },
    showCartFn(event) {
      this.showCart = event;
    },
    offHome(event) {
      this.home = event;
    },
    save() {
      localStorage.setItem("addProductCart", JSON.stringify(this.cartItem));
    },
  },
};
</script>

<style scoped>
.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.arm {
  width: 100px;
  height: 100px;
  margin-top: 15pxّ;
}

.element-header h1 {
  color: white;
  font-size: 25px;
  margin-top: 38px;
}

.search {
  display: flex;
  margin: 20px;
  margin-top: 25px;
}
.spn-search {
  background-color: white;
  border-radius: 7px;
  width: 50px;
  height: 40px;
  text-align: center;
}
.spn-search img {
  margin-top: 2px;
  height: 40px;
}
.search input {
  height: 40px;
  border-radius: 7px;
}

.arm-2 {
  width: 105px;
  height: 80px;
  margin-top: 15px;
}

/* main -------------------------------------------------------------- */

.top-bar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.cart {
  background-color: black;
  width: 120px;
  height: 49px;
  margin: 20px;
  border-radius: 7px;
}

.rou-cart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 21px;
}
.cart span {
  font-size: 10px;
  color: white;
  margin-top: 18px;
}

.cart span:nth-child(1) {
  margin-left: 2px;
}
.cart span:nth-child(1) img {
  width: 8px;
  height: 6px;
  margin: 0px;
}
.cart img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 15px;
}

.login {
  background-color: black;
  width: 145px;
  height: 49px;
  text-align: center;
  margin: 20px;
  color: white;
  border-radius: 7px;
}

.qq {
  margin-top: 6px;
  margin-right: 10px;
  display: flex;
}

.img-sign {
  display: flex;
  flex-direction: column;
}
.img-acc img {
  width: 35px;
  margin-right: 8px;
  margin-top: 3px;
}

.arm-acc img {
  width: 13px;
  height: 9px;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
}
.item {
  margin: 20px;
  width: 165px;
  height: 49px;
  background-color: black;
  border-radius: 7px;
}
.item a {
  text-decoration: none;
  color: black;
}

.item a h2 {
  font-size: 22px;
  color: white;
  text-align: center;
  margin-top: 12px;
}
/* --------------------------------------------------------- */
#products {
  background-color: #f7fbfc;
}
.card-item {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.card {
  background-color: #eceef0;
  width: 450px;
  margin: 20px;
  list-style-type: none;
  border-radius: 7px;
}
.item-c {
  display: flex;
}

.item-c div:nth-child(1) img {
  width: 100px;
  margin: 10px;
  margin-top: 15px;
}

.info {
  margin: 10px;
}
.item-c div:nth-child(3) img {
  width: 35px;
  margin-top: 80px;
  margin-right: 10px;
}

.sales {
  width: 155px;
  height: 40px;
  border: 0px;
  border-radius: 7px;
  background-color: black;
  color: white;
  margin-left: 30px;
  text-align: center;
}

.sales a {
  color: white;
  font-size: 15px;
}

/* footer --------------------------------------------------------------------- */
.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}

.info-bar {
  display: flex;
  flex-wrap: wrap;
}
.list {
  margin-left: 70px;
}
.footer div:nth-child(1) {
  margin-top: 40px;
}

.img-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.icon {
  background-color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.img-bar div:nth-child(1) {
  background-color: black;
}
.icon img {
  width: 50px;
}
.img-bar div:nth-child(1) {
  width: 50px;
  height: 50px;
  margin-top: 0px;
}
.img-bar div:nth-child(2) img {
  width: 49px;
  border-radius: 22px;
}
</style>